*{box-sizing: border-box;margin: 0;padding: 0;}

.content-menu {
    background: url("../_img/topo-imagem-principal.png") no-repeat left;
}

.content-menu img{
    position: absolute;
}

.content-menu .content-menu-bg {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 200px;
    background: url("../_img/topo-imagem-lateral.png") no-repeat right;
}

.content-menu .content-menu-bg .menu-end-reserve{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;

}

.content-menu .content-menu-bg .menu-end-reserve .endereco {
    display: flex;
    color: #98934d;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    border-top: 2px solid #a29750;
    border-bottom: 2px solid #a29750;
}

.content-menu .content-menu-bg .menu-end-reserve .endereco h4{
    margin-right: 60px;
    line-height: 40px;
}

.content-menu .content-menu-bg .menu-end-reserve .endereco button {
    background-color: #a29750;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.content-menu .content-menu-bg .menu-end-reserve .nav-bar .nav-bar-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.content-menu .content-menu-bg .menu-end-reserve .nav-bar .nav-bar-menu ul li a{
    text-decoration: none;
    color: #a29750;
    padding: 10px;
    line-height: 20px;
}

.content-menu .content-menu-bg .menu-end-reserve .nav-bar .nav-bar-menu ul li:hover a {
    background-color: aliceblue;
}

.body-hotel {
    background:#ede9cc url('/PROJETO-HOTEL/_img/bg-container.png') top center repeat-y;
    display: flex;
}

.body-hotel .body-right-content {
    width: 50%;
    padding: 20px;
    text-align: justify;
}

.body-hotel .body-right-content > p{
    margin-top: 10px;
}


.body-hotel .body-left-content .content-img{
    display: flex;
    padding: 20px;
}

.body-hotel .body-left-content .content-img .img-cotent {
    margin-right: 10px;
}

.body-hotel .body-left-content .content-img .h-p-content h4, .body-right-content h4 {
    color: #a29750;
}


.body-hotel .body-left-content img {
    width: 100px;
    height: auto;
} 

.rodape {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #a29750;
}

