*{box-sizing: border-box;margin: 0;padding: 0;}

.capa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capa .capa_img{
    width: 100%;
}

.capa .capa_img img{
    width: 100%;
    height: 70vh;
}

.capa .capa_img .menu ul{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.capa .capa_img .menu ul li{
	position: relative;
	list-style: none;
	padding: 10px 10px;
	cursor: pointer;      
}

.capa .capa_img .menu ul li a{
	position: relative;
	margin: 15px;
    padding: 2px 0;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 2px;
    font-weight: 900;
	transition: 0.6s;
}

.capa .capa_img .menu ul li a:before{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0px;
	height: 2px;
	width: 100%;
	background: #dd0c0c;	
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}


.capa .capa_img .menu ul li:hover a:before{
	transform: scaleX(1);
	transform-origin: left;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .side-left{
    margin-top: -190px;
    margin-left: 10px;
    width: 340px;
    height: 200px;
}

.container .side-left img{
    width: 100%;
    height: 100%;
}

.container .side-center{
    width: 600px;
    height: 600px;
}

.container .side-center h2{
    margin-top: 30px;
    text-align: center;
}

.container .side-center p{
    margin-top: 10px;
    text-align: justify;
}

.container .side-right{
    margin-top: -190px;
    margin-right: 10px;
    width: 340px;
    height: 200px;
}

.container .side-right img{
    width: 100%;
    height: 100%;
}

span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}